<%= form_for([@user, @new_news]) do |f| %>
	<% if @new_news.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@new_news.errors.count, "error") %> prohibited this user from being saved:</h2>

			<ul>
				<% @new_news.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label "What's the latest?" %><br>
		<%= f.text_area :content %>
	</div>
	<div class="actions">
		<%= f.submit "Post" %>
	</div>
<% end %>