<div id="top_part" class="clearfix">
	<div id="prof_pic_container" class="clearfix">
		<%= image_tag(@user.profile_picture, alt: "No picture loaded", class: "img-responsive profile_picture")%>
	</div>

	<div id="basic_info" class="clearfix">
		<ul class="list-group">
			<h1 class="list-group-item-heading"><%= @user.full_name %></h1>
			<li class="list-group-item">Current City: <%= @user.current_city %></li>
			<li class="list-group-item">Work: <%= @user.current_work %></li>
			<li class="list-group-item">Birthday: <%= @user.born_on.to_date %></li>
			<li class="list-group-item">Education: <%= @user.education %></li>
		</ul>
	</div>
</div>



<div id="sidebar">
	<ul class="nav nav-pills nav-stacked">
		<li class="select active"><a href="#">News and Gossip</a></li>
		<li class="select"><a href="#">Stories</a></li>
		<li class="select"><a href="#">Quotes</a></li>
		<li class="select"><a href="#">Personality</a></li>
		<li class="select"><a href="#">Romance</a></li>
		<li class="select"><a href="#">At the Workplace</a></li>
		<li class="select"><a href="#">Other Coolnesses</a></li>
	</ul>
</div>

<div id="news" class="clearfix">
	<span class="news_posted_time">Posted on: Time / Date</span>
	<div class="news_element">
		<p>
			I just want to talk. It has nothing to do with mating. Fry, that doesn't make sense. Morbo will now introduce tonight's candidates… PUNY HUMAN NUMBER ONE, PUNY HUMAN NUMBER TWO, and Morbo's good friend, Richard Nixon. Oh, how awful. Did he at least die painlessly? …To shreds, you say. Well, how is his wife holding up? …To shreds, you say. Noooooo!
		</p>
	</div>
	<div class="news_element_judgment_bar">
		<a class="btn" href="#"><i style="color:#19d41d">T</i></a>
		<span>Number of True-votes</span>
		<div class="true_false_divider"></div>
		<a class="btn" href="#"><i style="color:#ED0909">F</i></a>
		<span>Number of False-votes</span>
	</div>
</div>







