<div id="top_part" class="clearfix">
	<div id="prof_pic_container" class="clearfix">
		<%= image_tag(@user.profile_picture, alt: "No picture loaded", class: "img-responsive profile_picture")%>
	</div>

	<div id="basic_info" class="clearfix">
		<ul class="list-group">
			<h1 class="list-group-item-heading"><%= @user.full_name %></h1>
			<li class="list-group-item">Current City: <%= @user.current_city %></li>
			<li class="list-group-item">Work: <%= @user.current_work %></li>
			<li class="list-group-item">Birthday: <%= @user.born_on.to_date if @user.born_on %></li>
			<li class="list-group-item">Education: <%= @user.education %></li>
		</ul>
	</div>
</div>


<div id="sidebar">
	<ul class="nav nav-pills nav-stacked">
		<li class="select select_news active"><a href="#">News and Gossip</a></li>
		<li class="select select_stories"><a href="#">Stories</a></li>
		<li class="select select_quotes"><a href="#">Quotes</a></li>
		<li class="select select_personality"><a href="#">Personality</a></li>
		<li class="select select_romance"><a href="#">Romance</a></li>
		<li class="select select_workplace"><a href="#">At the Workplace</a></li>
		<li class="select select_coolness"><a href="#">Other Coolnesses</a></li>
	</ul>
</div>

<div id="comment_container" class="clearfix">

	<div id="news_form">
		<%= render partial: "newsform" %>
	</div>

	<div id="news" class="comment visible clearfix">
		<% if !@news.empty? %>
			<% for j in @news %>
			<span class="posted_time">Posted on: <%= j.created_at.to_date %></span>
			<div class="comment_element clearfix">
				<p>
					<%= j.content.squish %>
				</p>
				<div class="judgment_bar">
					<%= button_to "Truth!", { controller: "news", action: "update", user_id: @user.id, id: '52141205496a9d5cb9000030' }, method: :put %>
					<span><%= j.true_votes %></span>
					<div class="true_false_divider"></div>
					<%= button_to "Lies!", { controller: "news", action: "update", user_id: @user.id, id: '52141205496a9d5cb9000030' }, method: :put %>
					<span><%= j.false_votes %></span>
				</div>
			</div>
			<% end %>
		<% end %>
	</div>



	<div id="stories" class="comment clearfix">
		<% if !@stories.empty? %>
			<% @stories.each do |j| %>
				<span class="posted_time">Posted on: Time / Date</span>
				<div class="comment_element">
					<p>
						<%= j.content.squish %>
					</p>
				</div>
				<div class="judgment_bar">
					<a class="btn" href="#"><i style="color:#19d41d">T</i></a>
					<span><%= j.true_votes %></span>
					<div class="true_false_divider"></div>
					<a class="btn" href="#"><i style="color:#ED0909">F</i></a>
					<span><%= j.false_votes %></span>
				</div>
			<% end %>
		<% end %>
	</div>

	<div id="quotes" class="comment clearfix">
		<% if !@quotes.empty? %>
		<% @quotes.each do |quote| %>
			<span class="posted_time">Posted on: Time / Date</span>
			<div class="comment_element">
				<p>
					"<%= quote.content.squish %>"
				</p>
			</div>
			<div class="judgment_bar">
				<a class="btn" href="#"><i style="color:#19d41d">T</i></a>
				<span><%= quote.true_votes %></span>
				<div class="true_false_divider"></div>
				<a class="btn" href="#"><i style="color:#ED0909">F</i></a>
				<span><%= quote.false_votes %></span>
			</div>
			<% end %>
		<% end %>
	</div>

	<div id="personality" class="comment clearfix">
		<span class="posted_time">Posted on: Time / Date</span>
		<div class="comment_element">
			<p>
				I never loved you. Bender, hurry! This fuel's expensive! Also, we're dying! Ugh, it's filthy! Why not create a National Endowment for Strip Clubs while we're at it? You, minion. Lift my arm. AFTER HIM!
			</p>
		</div>
		<div class="judgment_bar">
			<a class="btn" href="#"><i style="color:#19d41d">T</i></a>
			<span>Number of True-votes</span>
			<div class="true_false_divider"></div>
			<a class="btn" href="#"><i style="color:#ED0909">F</i></a>
			<span>Number of False-votes</span>
		</div>
	</div>

	<div id="romance" class="comment clearfix">
		<span class="posted_time">Posted on: Time / Date</span>
		<div class="comment_element">
			<p>
				Kif, I have mated with a woman. Inform the men. Leela, are you alright? You got wanged on the head. No! The kind with looting and maybe starting a few fires! Hey, guess what you're accessories to. Yep, I remember. They came in last at the Olympics, then retired to promote alcoholic beverages! Oh, but you can. But you may have to metaphorically make a deal with the devil. And by "devil", I mean Robot Devil. And by "metaphorically", I mean get your coat.
			</p>
		</div>
		<div class="judgment_bar">
			<a class="btn" href="#"><i style="color:#19d41d">T</i></a>
			<span>Number of True-votes</span>
			<div class="true_false_divider"></div>
			<a class="btn" href="#"><i style="color:#ED0909">F</i></a>
			<span>Number of False-votes</span>
		</div>
	</div>

	<div id="workplace" class="comment clearfix">
		<span class="posted_time">Posted on: Time / Date</span>
		<div class="comment_element">
			<p>
				Oh yeah, good luck with that. The key to victory is discipline, and that means a well made bed. You will practice until you can make your bed in your sleep. But I've never been to the moon! Who's brave enough to fly into something we all keep calling a death sphere? I wish! It's a nickel.
			</p>
		</div>
		<div class="judgment_bar">
			<a class="btn" href="#"><i style="color:#19d41d">T</i></a>
			<span>Number of True-votes</span>
			<div class="true_false_divider"></div>
			<a class="btn" href="#"><i style="color:#ED0909">F</i></a>
			<span>Number of False-votes</span>
		</div>
	</div>

	<div id="coolnesses" class="comment clearfix">
		<span class="posted_time">Posted on: Time / Date</span>
		<div class="comment_element">
			<p>
				Dr. John A. Zoidberg is a Decapodian employed as staff doctor at Planet Express and an honorary Globetrotter. He is only tolerated at Planet Express because of his ability to cut things. An extremely poor man and a doctor of art history, he is still lovable to many and hated by others. He is also noted as the only alien member of the Planet Express crew.
			</p>
		</div>
		<div class="judgment_bar">
			<a class="btn" href="#"><i style="color:#19d41d">T</i></a>
			<span>Number of True-votes</span>
			<div class="true_false_divider"></div>
			<a class="btn" href="#"><i style="color:#ED0909">F</i></a>
			<span>Number of False-votes</span>
		</div>
	</div>

</div>


