<h1>Listing users</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name first</th>
      <th>Name last</th>
      <th>View Profile</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name_first %></td>
        <td><%= user.name_last %></td>
        <td><%= link_to "Profile", profile_path(user) %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
